.common {
  composes: bordered rounded from "./borders.css";
  composes: regular normal from "./typography.css";
  composes: transparent from "./backgrounds.css";
  padding: 0.75rem 1rem;

  transition: all 0.1s ease;
}

.common + .common { margin-left: 0.5rem; }

.normal {
  composes: common;
  composes: subtle subtle-hover from "./typography.css";
  composes: subtle subtle-hover from "./backgrounds.css";
  composes: subtle subtle-hover from "./borders.css";
}

.primary {
  composes: common;
  composes: white from "./typography.css";
  composes: primary primary-hover from "./backgrounds.css";
  composes: primary primary-hover from "./borders.css";
}

.danger {
  composes: common;
  composes: white from "./typography.css";
  composes: danger danger-hover from "./backgrounds.css";
  composes: danger danger-hover from "./borders.css";
}
